# 今天在做随机森林时，新出现一个函数set.seed()，书上的注释是设定产生随机数的初始值。对于这个说法还是没什么概念，问了师兄，他也是说的含含糊糊的，并没听懂。
在网上查了R的文档，上面解释说：set.seed is the recommended way to specify seeds.
我又在各个论坛中查看别的人的说法。终于搞明白了。
set.seed()用于设定随机数种子，一个特定的种子可以产生一个特定的伪随机序列，这个函数的主要目的，是让你的模拟能够可重复出现，因为很多时候我们需要取随机数，但这段代码再跑一次的时候，结果就不一样了，如果需要重复出现同样的模拟结果的话，就可以用set.seed()。在调试程序或者做展示的时候，结果的可重复性是很重要的，所以随机数种子也就很有必要。
也可以简单地理解为括号里的数只是一个编号而已，例如set.seed(100)不应将括号里的数字理解成“一百”，而是应该理解成“编号为一零零的随机数发生”，下一次再模拟可以采用二零零（200）或者一一一（111）等不同的编号即可，编号设定基本可以随意。


